* {
    margin:0;
    padding:0;
}

@font-face {
    font-family: NothingYouCouldDo;
    src: url('../fonts/NothingYouCouldDo.ttf');
}

body {
    background: #fff;
   
    font-family: 'Monsterrat', sans-serif;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.menu{
    margin-top: 20px;
}
ul{
    margin-left:20px;
}

#side-box{
    background: #ffffff;
    border-bottom: 1px solid #d7d9da;
    text-align: center;     
     box-shadow: inset -10px 0px 15px -2px rgba(0, 0, 0, 0.05);
    height: 270px;
    margin-top:-20px;
    position: relative;
}

#side-box img{
    width: 57%;
    border: 2px solid  #666;
    top: 62px;
    left: 53px;
    position: absolute;
}

#side-box h1{
    width: 100%;
    font-family: NothingYouCouldDo, cursive;
    font-weight: 600;
    text-align: center;
    margin-left: -11px;
    font-size: 1.8em;
    letter-spacing: -0px;
    position: absolute;
    
    bottom: 10px;
}


.page-content{
    font-family: 'Monsterrat', sans-serif;
    margin-top: 60px;
    padding-left: 70px;
    margin-left: 15%;
    margin-right: 17%;
}

.page-content p{
    font-size: 1.2em;
    text-align: justify;
}

.page-content > h1{
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: -2px;
    font-size: 3em;
    margin-bottom: 30px;

}



.hamburger {
    position: relative;
    display: inline-block;
    width: 28px;;
    height: 22px;
    margin-right: 0.3em;
    border-top: 4px solid #333;
    border-bottom: 4px solid #333;
}

@media(max-width:768px){
    .hamburger{margin-top:10px;}
    .page-content{margin-right: 0;margin-left:0;}
  


}




.hamburger:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0px;
    width: 100%;
    border-top: 4px solid #333;
}

#nav-toggle:hover .hamburger{
    border-top: 4px solid #1ebcc5;
    border-bottom: 4px solid #1ebcc5;
}

#nav-toggle:hover .hamburger:before{
    border-top: 4px solid #1ebcc5;
    
}







.active{
    color: #772953;
    
}
.active::before{
    content:"> "
}

.article{
    margin-bottom: 120px;
    margin-right: 70px;
}

.article h2{
    font-weight: 700;
    font-size: 2em;
}

.article .date{
    margin-top: -5px;
    font-size: 1em;
    margin-bottom: 20px;
}

.article p{
    font-size: 1.3em;
    text-align: justify;
}

@media(max-width:768px){
   
    .article p{font-size: 0.9em; text-align:left;}
    .article{margin-right:0px;}
    .page-content{margin-left:-40px;}
}

.article .signature {
    margin-top: 20px;
    float: right;
}


.soc-links{
   
    bottom:0px;
    width: 100%;
    left: 30px;
}

.soc-icon{
    color: blue;
    width: 26px;
    color: green;
    -webkit-filter: opacity(.8);
    filter: opacity(.8);
    margin-right:10px;
}

.soc-links a{
    display:inline;
    margin-right: 20px;
    line-height: 58px;
}

.soc-links a:hover .soc-icon{
    -webkit-filter: opacity(1);
     filter: opacity(1);
 
}


#header-colors {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    margin-bottom:10px;
    width: 100%;
    background-image:-webkit-gradient(linear,0 50%,100% 50%,color-stop(0,#772953),color-stop(12.5%,#772953),color-stop(12.5%,#CCE7C1),color-stop(25%,#CCE7C1),color-stop(25%,#333),color-stop(37.5%,#333),color-stop(37.5%,#F4F3C8),color-stop(50%,#F4F3C8),color-stop(50%,#A66D93),color-stop(62.5%,#A66D93),color-stop(62.5%,#2C001E),color-stop(75%,#2C001E),color-stop(75%,#95B2A8),color-stop(87.5%,#95B2A8),color-stop(87.5%,#333333),color-stop(100%,#333333));
    background-image:-moz-gradient(linear,0 50%,100% 50%,color-stop(0,#e75239),color-stop(12.5%,#e75239),color-stop(12.5%,#ff961c),color-stop(25%,#ff961c),color-stop(25%,#ffcc27),color-stop(37.5%,#ffcc27),color-stop(37.5%,#fce62f),color-stop(50%,#fce62f),color-stop(50%,#cde35b),color-stop(62.5%,#cde35b),color-stop(62.5%,#82cc33),color-stop(75%,#82cc33),color-stop(75%,#41bece),color-stop(87.5%,#41bece),color-stop(87.5%,#049cdb),color-stop(100%,#049cdb));
    background-image: gradient(linear,0 50%,100% 50%,color-stop(0,#e75239),color-stop(12.5%,#e75239),color-stop(12.5%,#ff961c),color-stop(25%,#ff961c),color-stop(25%,#ffcc27),color-stop(37.5%,#ffcc27),color-stop(37.5%,#fce62f),color-stop(50%,#fce62f),color-stop(50%,#cde35b),color-stop(62.5%,#cde35b),color-stop(62.5%,#82cc33),color-stop(75%,#82cc33),color-stop(75%,#41bece),color-stop(87.5%,#41bece),color-stop(87.5%,#049cdb),color-stop(100%,#049cdb));
}
